@{
    ViewData["Title"] = "Initate DB data";
    Layout=null;
}

<form asp-action="InitiateDbCategoryData" asp-controller="Admin" style="margin: 10px">
    <div class="form-group">
        <input type="submit" value="Initiate Category Data"/>
    </div>
</form>
<br/>
<form asp-action="InitiateDbFoodData" asp-controller="Admin" style="margin: 10px">
    <div class="form-group">
        <input type="submit" value="Initiate Food Data"/>
    </div>
</form>
<br />
<form asp-action="InitiateUserData" asp-controller="Admin" style="margin: 10px">
    <div class="form-group">
        <input type="submit" value="Initiate User Data" />
    </div>
</form>