@{
    ViewData["Title"] = "درباره";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>این یک وبسایت آزمایشی است.</p>
<p>رستوران و  غذاها واقعی نیستند.</p>

<p>سه نقش مشتری، کارمند و ادمین تعریف شده‌اند که هر کدام به بخش‌هایی از سامانه دسترسی دارند.</p>

<p>
کاربر مشتری می‌تواند غذا سفارش دهد و سفارشات گذشته‌ی خود را مشاهده نماید. <br />
    با کلیک بر روی آیکون <i class="bi bi-cart"></i> به صفحه‌ی سفارش هدایت می‌شوید.
</p>

<p>
    کاربر دارای نقش کارمند علاوه بر اعمال مشتری قادر به افزودن، ویرایش و حذف غذا و همچنین مشاهده‌ی سفارشات سایر کاربران می‌باشد. 
</p>

<p>
    کاربر مدیر اختیار کامل بر سامانه دارد و علاوه بر اعمال موجود در نقش کارمند، قادر به ایجاد، ویرایش و حذف کاربر و تغییر رمز عبور آن‌ها می‌باشد.
    <br/>
    همچنین، کاربر مدیر امکان تعریف و تغییر دسته‌بندی‌ غذاها را دارد.
</p>

<br />
<p>
    سه کاربر از قبل ایجاد شده‌اند:
    <br />
    ------------------------------
    <br />
    نام کاربر: ادمین
    <br />
    پسورد: Admin1
    <br />
    <br />
    نام کاربر: کارمند
    <br />
    پسورد: Employee1
    <br />
    <br />
    نام کاربر: مشتری
    <br />
    پسورد: Customer1
    <br />
    <br />
</p>

<p dir="ltr" class="mb-5">&copy; Behdad Alagha - MVCRestaurant</p>