@{
    ViewData["Title"] = "سیاست حفظ حریم خصوصی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>این یک وبسایت آزمایشی است.</p>
<p>رستوران و  غذاها واقعی نیستند.</p>

<p dir="ltr">&copy; Behdad Alagha - MVCRestaurant</p>
